.titleBar
{
    font-size: xx-large;
}

#bitcoinLogo
{
    width: 50px;
    height: 50px;
}

a
{
    color: inherit;
    text-decoration: none !important;
}

a:visited
{
    text-decoration: none !important;
}

nav
{
    width: 100%;
    border-bottom: 2px solid gray;

    display: flex;
    justify-content: space-between;

    padding-left: 10%;
    padding-right: 10%;
}

nav
{
    padding-left: 10%;
    padding-right: 10%;
}

.navbar-brand
{
    font-size: xx-large;
}

.navLi
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
}

.navSettingsLogo
{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.navLi a
{
    color: rgb(200,200,200);
    margin-bottom: 5px;
}

.navLi a:hover
{
    color:  white !important;
}

.navbar-toggler-icon
{
    background-image: url('../../assets/hamburger-menu.webp');
}

nav, .navbar-collapse, .navbar-brand, .navbar-nav, .nav-link, .navbar-toggler, .navbar-toggler-icon
{
    /*background-color: rgb(30, 12, 79) !important;*/
    background-color: black;
    color: white
}

#langSelect
{
    height: 49px;
    padding-top: 6px;
    border: none;
    margin-bottom: 5px;
}

@media screen and (max-width: 770px)
{
    #langSelect
    {
        display: unset;
    }

    .navLi
    {
        padding-left: 0% !important;
        padding-right: 0% !important;
    }

    #priceWrapperLi
    {
        display: flex; 
        width: 100%; 
        justify-content: flex-end
    }
}