<nav class="navbar navbar-expand-lg shadow">
    <div class="titleBar navbar-brand nav-item nav-left">
        <a href="/" id="homeLink">
            ElliptiKeys <img src="../../assets/key-logo.png" id="siteLogo">
        </a>
    </div>

    <div class="nav-item nav-right" style="display: flex; align-items: center; justify-content: center;" id="navRight">
        <a href="/"><img src="../../assets/bitcoin-logo.png" id="bitcoinLogo"></a>
        <div style="margin-right: 10px;"></div>
        <app-price></app-price>
    </div>
</nav>