<nav class="navbar navbar-expand-md">
    <div class="titleBar navbar-brand nav-item nav-left">
        <a routerLink="/" id="homeLink">
            ElliptiKeys <img src="../../assets/key-logo.webp" id="siteLogo">
        </a>
    </div>

    <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#toggleMobileMenu" 
        aria-controls="toggleMobileMenu" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-end">
            <li class="navLi"><a routerLink="/explorer" class="">Blockchain Explorer</a></li>
            <li id="priceWrapperLi"><app-price></app-price></li>
        </ul>
    </div>
</nav>
