<div>
  @if (getCurrentDisplayType() == displayTypes.text) {
    <div>
      🔴: {{redCounter}} 🟡: {{yellowCounter}} 🟢: {{greenCounter}}
    </div>
  }
  @if (getCurrentDisplayType() == displayTypes.sevenSegment) {
    <div class="tripleSevenSegmentDisplay">
      <div class="sevenSegmentWithFooter">
        <seven-seg [digits]=3 [value]="redCounter" color="red"></seven-seg>
      </div>
      <div class="sevenSegmentWithFooter middleDisplay">
        <seven-seg [digits]=3 [value]="yellowCounter" color="yellow"></seven-seg>
      </div>
      <div class="sevenSegmentWithFooter">
        <seven-seg [digits]=3 [value]="greenCounter" color="green"></seven-seg>
      </div>
    </div>
  }
</div>
