
ion-icon {
    color: blue;
  }
#priceValue, #percentageChangeValue
{
    font-size: x-large;
}

@media screen and (max-width: 768px)
{
    #priceInner
    {
        
    }

    #priceValue, #percentageChangeValue
    {
        font-size: medium;
    }

    #priceOuter
    {
        justify-content: end;
    }
}

@media screen and (max-width: 375px)
{
    #priceValue, #percentageChangeValue
    {
        font-size: small !important;
    }
}