<div>
    <div class="d-flex">
        <div class="d-flex" style="flex: 4">
            <p>{{model.privateKey}} </p>
            <div class="m-1"></div>
            <p>{{model.privateKeyCompressed}} </p>
        </div>
    
        <div class="m-2"></div>

        <div class="d-flex; flex-column" style="flex: 1">
            <p>{{model.legacy}} </p>
            <p>{{model.legacyCompressed}} </p>
            <p>{{model.segwit}} </p>
            <p>{{model.bech32}} </p>
        </div>
    </div>

    <div class="m-4"></div>
</div>