<h2>Network Type</h2>
<div class="btn-group" (change)="onRadioButtonChanged()">
    <input type="radio" [name]="radioName" [formControl]="networkFormControl" [value]="networkTypes.bitcoin" class="btn-check" [id]="'networkBtcRadio'+radioName" autocomplete="off">
    <label class="btn btn-outline-primary" [for]="'networkBtcRadio'+radioName">Bitcoin</label>
  
    <input type="radio" [name]="radioName" [formControl]="networkFormControl" [value]="networkTypes.testnet" class="btn-check" [id]="'networkTestnetRadio'+radioName" autocomplete="off">
    <label class="btn btn-outline-primary" [for]="'networkTestnetRadio'+radioName">Testnet</label>
</div>
