<footer style="width: 100%; display: flex; justify-content: center;border-top: 2px solid gray">
    <div style="width: 70%; display: flex; justify-content: space-between; align-items: center; height: 50px;" id="innerFooter">
        <a href="/about">About ElliptiKeys</a>
        <a href="/donate">Donate</a>
        <a href="https://github.com/ICARUS-2/ElliptiKeys-ng" target="blank">Source Code</a>
        <a href="https://icarus-2.github.io/" target="blank">Developer Site</a>
    </div>
</footer>