footer
{
    position: fixed;
    bottom: 0;
    z-index: 1
}

footer a
{
    color: white;
    margin: 10px;
}

@media screen and (max-width:600px)
{
    #innerFooter
    {
        width: 95% !important;
    }
}