<div style="width: 100%; display: flex; justify-content: center;border-top: 2px solid gray">
    <div style="width: 50%; display: flex; justify-content: space-between; align-items: center; height: 50px;">
        <a href="/about" class="btn btn-primary">About ElliptiKeys</a>
        <a href="/donate" class="btn btn-primary">Donate</a>
        <a href="https://github.com/ICARUS-2/ElliptiKeys-ng" class="btn btn-primary">Source Code</a>
        <a href="https://icarus-2.github.io/" class="btn btn-primary">Developer Site</a>
    </div>

</div>