<div class="outer">

  @if (!isFirstPage) {
    <a [routerLink]="makePageLink(firstPage)"><img src="../../assets/first-page.webp"></a>
  }
  @if (isFirstPage) {
    <a><img src=""></a>
  }

  @if (!isFirstPage) {
    <a [routerLink]="makePageLink(previousPage)"><img src="../../assets/previous.webp"></a>
  }
  @if (isFirstPage) {
    <a><img src=""></a>
  }

  <a [routerLink]="getRandomLink()"><img src="../../assets/random.webp"></a>

  @if (!isLastPage) {
    <a [routerLink]="makePageLink(nextPage)"><img src="../../assets/next.webp"></a>
  }
  @if (isLastPage) {
    <a><img src=""></a>
  }

  @if (!isLastPage) {
    <a [routerLink]="makePageLink(lastPage)"><img src="../../assets/last-page.webp"></a>
  }
  @if (isLastPage) {
    <a><img src=""></a>
  }
</div>
