h4, h5
{
    text-align: center;
    word-wrap: break-word;
}

.mobileTd
{
    display: none;
}

@media screen and (max-width: 1200px){

    .desktopTd
    {
        display: none;
    }

    .mobileTd
    {
        display: table-cell;
        border: 1px solid rgb(70,70,70)
    }

    #currentPageNumber, #maxPageNum
    {
        font-size: medium;
    }
}

@media screen and (max-width: 988px){
    #currentPageNumber, #maxPageNum
    {
        font-size: small;
    }

    .mobileTd
    {
        word-wrap: break-word;
    }
}