<div class="d-flex align-items-center w-100 flex-column justify-content-center">

    <div class="mt-1"></div>

    <div *ngIf="isTestnet">
        <div class="alert alert-warning" role="alert">
            {{'keyspage.testnetWarning' | translate}}
        </div>          
    </div>

    <div *ngIf="balanceApi.errorCallingApi">
        <div class="alert alert-danger" role="alert">
            Error occurred while retrieving balances.
        </div>          
    </div>

    <div class="d-flex align-items-center w-100 flex-column justify-content-center pageNumbers">
        <h4>Page</h4>
        <h5 id="currentPageNumber" style="max-width: 80%;">{{pageNumber}}</h5>
        <h5>{{'keyspage.of' | translate}}</h5>
        <h5 id="maxPageNum" style="max-width: 80%;">{{maxPageNumber}}</h5>
    </div>

    <div class="m-3"></div>

    <app-auto-gen [isTestnet]="isTestnet"></app-auto-gen>
    
    <div *ngIf="isLoading && !autoGenService.autoModeActive" class="loadingDiv" style="height: 50px">Loading...</div>
    <app-pagebuttons *ngIf="!isLoading && !autoGenService.autoModeActive" style="width: 70%;" class="pageBtns"></app-pagebuttons>

    <div class="m-3"></div>

    <div style="display: flex; justify-content: center; width: 100%;" class="tableWrapper">
        <table style="border-spacing: 10px 0px; border-collapse: separate; width: 97%;" class="keysTable">
            <tr *ngFor="let model of keys; let index = index" class="tableRow">
                <td class="desktopTd" style="padding: 10px 0px;" [style.border-left]="model.borderColor">
                    <a [style.color]="model.privateKeyTextColor" [routerLink]="model.getWifExplorerUrl('uncompressed')">{{model.privateKey}}</a>
                    <br>
                    <a [style.color]="model.privateKeyTextColor" [routerLink]="model.getWifExplorerUrl('compressed')">{{model.privateKeyCompressed}}</a>
                </td>

                <td class="desktopTd">
                    <a [style.color]="model.legacyColor" [routerLink]="model.getAddressExplorerUrl('legacy')" class="{{model.legacy}}">{{model.legacy}}</a>
                    <br>
                    <a [style.color]="model.legacyCompressedColor" [routerLink]="model.getAddressExplorerUrl('legacyCompressed')" class="{{model.legacyCompressed}}">{{model.legacyCompressed}}</a>
                </td>

                <td class="desktopTd">
                    <a [style.color]="model.segwitColor" [routerLink]="model.getAddressExplorerUrl('segwit')" class="{{model.segwit}}">{{model.segwit}}</a>
                    <br>
                    <a [style.color]="model.bech32Color" [routerLink]="model.getAddressExplorerUrl('bech32')" class="{{model.bech32}}">{{model.bech32}}</a>
                </td>

                <td class="desktopTd">
                    <p>{{model.stats}}</p>
                </td>
            
                <td class="mobileTd" [style.border-left]="model.borderColor">
                    <a [style.color]="model.privateKeyTextColor" [routerLink]="model.getWifExplorerUrl('uncompressed')">{{model.privateKey}}</a>
                    <div style="margin-top: 10px;"></div>
                    <a [style.color]="model.privateKeyTextColor" [routerLink]="model.getWifExplorerUrl('compressed')">{{model.privateKeyCompressed}}</a>
                    <br>
                    <br>
                    <a [style.color]="model.legacyColor" [routerLink]="model.getAddressExplorerUrl('legacy')" class="{{model.legacy}}">{{model.legacy.substr(0, model.legacy.length / 1.3)}}...</a>
                    <br>
                    <a [style.color]="model.legacyCompressedColor" [routerLink]="model.getAddressExplorerUrl('legacyCompressed')" class="{{model.legacyCompressed}}">{{model.legacyCompressed.substr(0, model.legacyCompressed.length / 1.3)}}...</a>
                    <br>
                    <a [style.color]="model.segwitColor" [routerLink]="model.getAddressExplorerUrl('segwit')" class="{{model.segwit}}">{{model.segwit.substr(0, model.segwit.length / 1.3)}}...</a>
                    <br>
                    <a [style.color]="model.bech32Color" [routerLink]="model.getAddressExplorerUrl('bech32')" class="{{model.bech32}}">{{model.bech32.substr(0, model.bech32.length / 1.3)}}...</a>
                    <br>
                    <br>
                    <p>{{model.stats}}</p>
                </td>
            </tr>
        </table>
    </div>

    <app-pagebuttons *ngIf="!isLoading && !autoGenService.autoModeActive" style="width: 70%;" class="pageBtns"></app-pagebuttons>
    <div *ngIf="isLoading && !autoGenService.autoModeActive" class="loadingDiv" style="height: 50px">Loading...</div>

    <app-auto-gen [isTestnet]="isTestnet"></app-auto-gen>

    <div class="m-5"></div> 
</div>
