<div class="d-flex align-items-center w-100 flex-column justify-content-center">

    <div class="mt-1"></div>

    <div class="d-flex align-items-center w-100 flex-column justify-content-center pageNumbers">
        <h4>Page</h4>
        <h5 id="currentPageNumber" style="max-width: 80%;">{{pageNumber}}</h5>
        <h5>of</h5>
        <h5 id="maxPageNum" style="max-width: 80%;">{{maxPageNumber}}</h5>
    </div>

    <div class="m-3"></div>

    <div class="loadingDiv" style="height: 50px">Loading...</div>
    <app-pagebuttons style="width: 70%; display: none;" class="pageBtns"></app-pagebuttons>

    <div class="m-3"></div>

    <div style="display: flex; justify-content: center; width: 100%;" class="tableWrapper">
        <table style="border-spacing: 10px 0px; border-collapse: separate; width: 97%;" class="keysTable">
            <tr *ngFor="let model of keys; let index = index" class="tableRow">
                <td class="desktopTd" style="padding: 10px 0px;" [style.border-left]="model.borderColor">
                    <span [style.color]="model.privateKeyTextColor">{{model.privateKey}}</span>
                    <br>
                    <span [style.color]="model.privateKeyTextColor">{{model.privateKeyCompressed}}</span>
                </td>

                <td class="desktopTd">
                    <a [style.color]="model.legacyColor" href="https://www.blockchain.com/btc/address/{{model.legacy}}" target="blank" class="{{model.legacy}}">{{model.legacy}}</a>
                    <br>
                    <a [style.color]="model.legacyCompressedColor" href="https://www.blockchain.com/btc/address/{{model.legacyCompressed}}" target="blank" class="{{model.legacyCompressed}}">{{model.legacyCompressed}}</a>
                </td>

                <td class="desktopTd">
                    <a [style.color]="model.segwitColor" href="https://www.blockchain.com/btc/address/{{model.segwit}}" target="blank" class="{{model.segwit}}">{{model.segwit}}</a>
                    <br>
                    <a [style.color]="model.bech32Color" href="https://www.blockchain.com/btc/address/{{model.bech32}}" target="blank"  class="{{model.bech32}}">{{model.bech32}}</a>
                </td>

                <td class="desktopTd">
                    <p>{{model.stats}}</p>
                </td>
            
                <td class="mobileTd" [style.border-left]="model.borderColor">
                    <span [style.color]="model.privateKeyTextColor">{{model.privateKey}}</span>
                    <div style="margin-top: 10px;"></div>
                    <span [style.color]="model.privateKeyTextColor">{{model.privateKeyCompressed}}</span>
                    <br>
                    <br>
                    <a [style.color]="model.legacyColor" href="https://www.blockchain.com/btc/address/{{model.legacy}}" target="blank" class="{{model.legacy}}">{{model.legacy.substr(0, model.legacy.length / 1.3)}}...</a>
                    <br>
                    <a [style.color]="model.legacyCompressedColor" href="https://www.blockchain.com/btc/address/{{model.legacyCompressed}}" target="blank" class="{{model.legacyCompressed}}">{{model.legacyCompressed.substr(0, model.legacyCompressed.length / 1.3)}}...</a>
                    <br>
                    <a [style.color]="model.segwitColor" href="https://www.blockchain.com/btc/address/{{model.segwit}}" target="blank" class="{{model.segwit}}">{{model.segwit.substr(0, model.segwit.length / 1.3)}}...</a>
                    <br>
                    <a [style.color]="model.bech32Color" href="https://www.blockchain.com/btc/address/{{model.bech32}}" target="blank" class="{{model.bech32}}">{{model.bech32.substr(0, model.bech32.length / 1.3)}}...</a>
                    <br>
                    <br>
                    <p>{{model.stats}}</p>
                </td>
            </tr>
        </table>
    </div>

    <app-pagebuttons style="width: 70%; display: none;" class="pageBtns"></app-pagebuttons>

    <div class="loadingDiv" style="height: 50px">Loading...</div>

    <div class="m-5"></div> 
</div>
