<div class="container">

    <div class="m-2"></div>
  
    <h2 class="addressHeader">{{'explorer.privateKey.topHeader' | translate}}</h2>
  
    <div class="mainInnerDiv">
      <qrcode [qrdata]="key" [width]="300" [errorCorrectionLevel]="'M'" class="m-5"></qrcode>
      <table class="table mobileScrollableTable">
          <tbody>
            <tr>
              <th scope="row">Private Key</th>
              <td>{{key}}</td>
            </tr>
            <tr>
              <th scope="row">Network</th>
              <td>{{isTestnet ? "Testnet" : "Mainnet"}}</td>
            </tr>

            <tr>
              <th scope="row">Format</th>
              <td>
                <h5><span class="badge" [ngClass]="{ 'bg-danger': !isCompressed, 'bg-success': isCompressed}">{{isCompressed ? "Compressed" : "Uncompressed"}}</span></h5>
              </td>
            </tr>

            <tr>
                <th scope="row">{{isCompressed ? "Uncompressed" : "Compressed"}} Version</th>
                <td><a [routerLink]="getWifExplorerUrl()">{{oppositeKeyFormat}}</a></td>
            </tr>

            <tr>
                <th scope="row">Legacy Address</th>
                <td><a [routerLink]="getAddressExplorerUrl('legacy')">{{legacyAddress}}</a></td>
            </tr>

            <tr *ngIf="isCompressed">
                <th scope="row">SegWit Address</th>
                <td><a [routerLink]="getAddressExplorerUrl('segwit')">{{segwitAddress}}</a></td>
            </tr>

            <tr *ngIf="isCompressed">
                <th scope="row">Bech32 Address</th>
                <td><a [routerLink]="getAddressExplorerUrl('bech32')">{{bech32Address}}</a></td>
            </tr>

            <tr>
                <th scope="row">Page</th>
                <td><a [routerLink]="getOpenPageButtonLink()" (click)="handleOpenPageButtonClick()" class="btn btn-primary">Open ElliptiKeys Page</a></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  
  <div class="m-5"></div>