.nav-link
{
    background-color: black !important;
}

.nav-link
{   
    color: gray;
    border: none;
    font-size: x-large;
}

.nav-link.active
{
    color: white;
    border: 1px solid white;
    border-bottom: 0px;
}

@media screen and (max-width: 768px)
{
    #walletGenNav
    {
        flex-direction: column;
    }

    #walletGenNav li 
    {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .nav-link.active
    {
        border: 2px solid white;
        border-radius: 10px;
    }
}