<div style="width: 100%; display: flex; flex-direction: row; justify-content: center;">
    <div style="width: 90%;">
        <h1>{{'walletGenerator.index.topHeader' | translate}}</h1>

        <ngb-alert id="onlineAlert" #onlineAlert *ngIf="connectionStatus == 1" class="alert alert-dark" (closed)="handleNetworkAlertCleared()" [innerHTML]="'walletGenerator.index.alertText' | translate">
        </ngb-alert>


        <ul id="walletGenNav" ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs" orientation="horizontal">
            <li [ngbNavItem]="1" [destroyOnHide]="false">
              <a ngbNavLink>{{'walletGenerator.index.singleAddressBtn' | translate}}</a>
              <ng-template ngbNavContent>
                <app-single-keyset></app-single-keyset>
              </ng-template>
            </li>

            <li [ngbNavItem]="2" [destroyOnHide]="false">
              <a ngbNavLink>{{'walletGenerator.index.bulkGenerateBtn' | translate}}</a>
              <ng-template ngbNavContent>
                <app-bulk-generate></app-bulk-generate>
              </ng-template>
            </li>

            <li [ngbNavItem]="3" [destroyOnHide]="false">
              <a ngbNavLink>{{'walletGenerator.index.mnemonicBtn' | translate}}</a>
              <ng-template ngbNavContent let-active>
                <app-mnemonic></app-mnemonic>
              </ng-template>
            </li>
          </ul>
          
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>
