.randomPageSelector
{
    width: 200px;
    height: 150px;
}

.randomBitcoinImage
{
    width: 100px;
    margin-bottom: 10px;
}

#networkSelector
{
    display: flex;
}

.btn-info
{
    color: white;
}

.formSection
{
    height: 60px;
}

/*
@media screen and (max-width: 1000px)
{
    #networkSelector
    {

    }
}
*/