<div class="autoGenContainer">
    <button class="btn btn-lg autoGenBtn display-flex justify-content-center align-items-center" [ngClass]="{ 'btn-outline-success' : !this.autoGenService.autoModeActive, 'btn-outline-danger' : this.autoGenService.autoModeActive}" (click)="toggleAutoGen()">
        <span [ngClass]="{ 'd-none': !this.autoGenService.autoModeActive}" class="spinner-border text-danger spinner-border-sm" role="status" aria-hidden="true"></span>
        {{ (this.autoGenService.autoModeActive ? 'keyspage.autoGen.stop' : 'keyspage.autoGen.activate') | translate}}
        <span [ngClass]="{ 'd-none': !this.autoGenService.autoModeActive}" class="spinner-border text-danger spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
</div>