.autoGenBtn
{
    margin-bottom: 10px;
}

.stopSettings
{
    margin-bottom: 20px;
}

.autoGenContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner-border {
    animation-duration: 1.5s;
}