<div class="container">
    <h1>Source Code</h1>    

    <div class="m-5"></div>

    <!--Raw Angular Source Code-->
    <h2><a class="whiteLink sourceCodeLink" target="_blank" href="https://github.com/ICARUS-2/ElliptiKeys-ng/">ElliptiKeys Raw Angular Source Code</a></h2>
    <p class="sourceCodeDescParagraph">This is the full, uncompiled Angular source code for ElliptiKeys. Use this
        if you wish to make your own changes and host/publish them, or if you plan
        on self-compiling for secure wallet generation (Recommended if generating important wallets).
        Requires installing <a href="https://angular.io/cli" class="whiteLink sourceCodeLink" target="_blank">Angular CLI.</a>
    </p>
    <img src="../../../assets/angular-source-code.webp" class="sourceCodeImg">

    <div class="m-5"></div>

    <!--Precompiled Build-->
    <h2><a class="whiteLink sourceCodeLink" target="_blank" href="https://github.com/ElliptiKeys/ElliptiKeys.github.io">Precompiled Angular Build</a></h2>
    <p class="sourceCodeDescParagraph">This is the precompiled build of the site. Comes ready to host. Use this if you plan on
        hosting your own version locally or globally without making any changes. Requires HTTP server software, such as 
        <a href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer" target="_blank" class="whiteLink sourceCodeLink">Live Server for Visual Studio Code.</a>
    </p>
    <img src="../../../assets/precompiled-source-code.webp" class="sourceCodeImg">

    <div class="m-5"></div>

    <!--ElliptiKeysJS-->
    <h2><a class="whiteLink sourceCodeLink" target="_blank" href="https://github.com/ICARUS-2/ElliptiKeys-lib">ElliptiKeysJS Library</a></h2>
    <p class="sourceCodeDescParagraph">Easy-to-use JavaScript key generator that powers
        the website. Works directly in the browser. Use this if you would like a simple solution
        for generating Bitcoin keys and mnemonics in your web app.
    </p>
    <img src="../../../assets/elliptikeysjs-sourcecode.webp" class="sourceCodeImg">

    <div style="margin-top: 75px"></div>

</div>
