<h2>Address Type</h2>
<div class="btn-group" role="group" (change)="onRadioButtonChanged()">
    <input type="radio" [name]="radioName" [formControl]="addressFormControl" [value]="addressTypes.legacy" class="btn-check" [id]="'legacyRadio'+radioName" autocomplete="off">
    <label class="btn btn-outline-primary" [for]="'legacyRadio'+radioName">Legacy</label>
  
    <input type="radio" [name]="radioName" [formControl]="addressFormControl" [value]="addressTypes.legacyCompressed" class="btn-check" [id]="'legacyCompressedRadio'+radioName">
    <label class="btn btn-outline-primary" [for]="'legacyCompressedRadio'+radioName">Legacy (Compressed)</label>
    
    <input type="radio" [name]="radioName" [formControl]="addressFormControl" [value]="addressTypes.segwit" class="btn-check" [id]="'segwitRadio'+radioName">
    <label class="btn btn-outline-primary" [for]="'segwitRadio'+radioName">Segwit</label>

    <input type="radio" [name]="radioName" [formControl]="addressFormControl" [value]="addressTypes.bech32" class="btn-check" [id]="'bech32Radio'+radioName">
    <label class="btn btn-outline-primary" [for]="'bech32Radio'+radioName">Bech32</label>
</div>