<div>
    <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="transactions.length"
  [directionLinks]="true"
  [ellipses]="true"
  [maxSize]="7" class="pagination" *ngIf="transactions.length > 1"></ngb-pagination>

    <div *ngIf="transactions.length == 0">No transactions found.</div>

    <div *ngFor="let tx of transactions | slice: (page-1) * pageSize : page * pageSize ">
      <table class="table mobileScrollableTable">
        <tbody>
          <tr>
            <th scope="row">Amount</th>
            <td style="display: flex;"> <h6><span class="alert" style="padding: 5px;" [ngClass]="{ 'alert-success text-success': tx.model.result >= 0, 'alert-danger text-danger': tx.model.result < 0 }">{{tx.model.result >= 0 ? "+" : ""}} {{satoshiService.get(tx.model.result)}} BTC</span></h6> <h6 *ngIf="tx.model.isCoinbase"><span style="padding: 5px; margin-left: 5px;" class="alert alert-info text-primary">COINBASE TRANSACTION</span></h6> </td>
          </tr>
          
          <tr>
            <th scope="row">Hash/ID</th>
            <td><a [routerLink]="getTransactionExplorerLink(tx.model.hash)">{{tx.model.hash}}</a></td>
          </tr>

          <tr>
            <th scope="row">Fee</th>
            <td>{{satoshiService.get(tx.model.fee)}} BTC</td>
          </tr>

          <tr>
            <th scope="row">Status</th>
            <td><span class="badge" [ngClass]=" {'bg-danger' : tx.model.block == null, 'bg-success' : tx.model.block != null}">{{tx.model.block == null ? "Unconfirmed" : "Confirmed"}}</span></td>
          </tr>

          <tr>
            <th scope="row">Block No.</th>
            <td>{{tx.model.block == null ? "-" : tx.model.block}}</td>
          </tr>

          <tr>
            <th scope="row">Timestamp</th>
            <td>{{dateFormatter.formatUnixTime(tx.model.time)}}</td>
          </tr>

        </tbody>
      </table>

      <button *ngIf="tx.shouldDisplayButton()" (click)="tx.toggleCollapse()" class="btn btn-primary">{{tx.getButtonText()}}</button>

      <div class="row">
        <div class="col">
          <table class="table table-borderless mobileScrollableTable">
            <tr *ngFor="let i of tx.getVisibleInputs()">
              <td><a [routerLink]="getAddressExplorerLink(i.address)">{{i.address}}</a></td>
              <td> <span *ngIf="tx.model.isCoinbase">Coinbase</span> <span *ngIf="!tx.model.isCoinbase">{{satoshiService.get(i.value)}} BTC </span><img src="../../../assets/input.webp"></td>
            </tr>
          </table>

        </div>
        
        <div class="col">
          <table class="table table-borderless mobileScrollableTable">
            <tr *ngFor="let i of tx.getVisibleOutputs()">
              <td><a [routerLink]="getAddressExplorerLink(i.address)">{{i.address}}</a></td>
              <td>{{satoshiService.get(i.value)}} BTC <img src="../../../assets/output.webp"></td>
            </tr>
          </table>
        </div>
      </div>
      <div *ngIf="tx.shouldDisplayButton() && tx.isCollapsed">+ {{tx.getHiddenTotal()}}</div>

      <div class="m-5"></div>

    </div>  

    <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="transactions.length"
    [directionLinks]="true"
    [ellipses]="true"
    [maxSize]="7" class="pagination" *ngIf="transactions.length > 1"></ngb-pagination>
</div>