<div style="width: 100%; display: flex; flex-direction: row; justify-content: center;">
    <div style="width: 75%">
        <h1>{{'about.topHeader' | translate}}</h1>
        <p class="descParagraph">
            <span [innerHTML]="'about.mainDescription' | translate">
            
            </span>
            <br>
            <br>
            {{'about.darkMode' | translate}}
        </p>

        <div style="margin-top: 50px"></div>

        <h2>{{'about.nPossibilities' | translate}}</h2>
        <p class="descParagraph">
            {{'about.toVisualize' | translate}}
        </p>
        <iframe style="width: 60%; height: 400px;" src="https://www.youtube.com/embed/S9JGmA5_unY?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>

        <div style="margin-top: 100px"></div>

        <p class="descParagraph">
            {{'about.howItWorks' | translate}}
            <br>
            <br>
            <span [innerHTML]="'about.howItWorks2' | translate">

            </span>
            <br>
            <br>

            <span [innerHTML]="'about.redKeys' | translate"></span>

            <br>

            <span [innerHTML]="'about.yellowKeys' | translate"></span>
            
            <br>
            
            <span [innerHTML]="'about.greenKeys' | translate"></span>
            
            <br>
            
            <span [innerHTML]="'about.cyanKeys' | translate"></span>

            <br>
            <br>

            <span [innerHTML]="'about.knowMore' | translate"></span>
        </p>

        <div style="margin-top: 75px"></div>

        <h2>{{'about.externalToolsUsed' | translate}}</h2>
        <div style="margin-top: 25px"></div>

        <h3>Site:</h3>
        <ul class="externalSourceList">
            <li><img src="../../assets/bitcoin-logo.webp" class="externalSourceListImg"><span [innerHTML]="'about.btcBalanceChecker' | translate"></span></li>
            <li><img src="../../assets/coingecko.webp" class="externalSourceListImg"><span [innerHTML]="'about.priceTickerData' | translate"></span></li>
            <li><img src="../../assets/icons8.webp" class="externalSourceListImg"><span [innerHTML]="'about.icons8' | translate"></span></li>
        </ul>

        <h3>Code:</h3>
        <ul class="externalSourceList">
            <li><img src="../../assets/angular.webp" class="externalSourceListImg"><span [innerHTML]="'about.angular' | translate"></span></li>
            <li><img src="../../assets/cryptojs.webp" class="externalSourceListImg"><span [innerHTML]="'about.cryptoJs' | translate"></span></li>
            <li><img src="../../assets/github.webp" class="externalSourceListImg"><span [innerHTML]="'about.ellipticCurve' | translate"></span></li>
        </ul>

        <div style="margin-top: 100px"></div>
    </div>
</div>
