*
{
    background-color: black;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    color: white
}
/*html, body { height: 100%; overflow-x: hidden;}*/
html{
    scroll-behavior: auto !important;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.page-link span
{
    background-color: black !important;
    color: lightblue !important
}

.page-link
{
    background-color: black !important;
    color: cyan !important
}

@media screen and (max-width: 768px)
{
    .mobileScrollableTable {
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0 auto;
        overflow-x: auto;
    }
}