<div style="width: 100%; display: flex; flex-direction: row; justify-content: center;">
    <div style="width: 70%">
        <h1>{{'donate.topHeader' | translate}}</h1>
        <p class="descParagraph">
            {{'donate.mainDescription' | translate}}
            <br>
            <br>
            
            <span [innerHTML]="'donate.openSource' | translate"></span>

            <br>
            <br>
            
            <span [innerHTML]="'donate.wishToSupport' | translate"></span>

            <br>
            <br>
                <img src="../../assets/bitcoin-logo.webp" style="width: 50px;"><i>bitcoin</i>
                <br>
                <br>
                <img src="../../assets/donate.webp">
                <br>
                <a style="word-wrap: break-word;" routerLink="/explorer/bitcoin/address/bc1qs7h8scm08n00emfqzdfj4whty6sk8zxlqud8en">bc1qs7h8scm08n00emfqzdfj4whty6sk8zxlqud8en</a>
        </p>

        <div style="margin-top: 100px"></div>
    </div>
</div>
