<div class="container">
    <h1>{{'aboutTestnetScams.topHeader' | translate}}</h1>

    <p class="descParagraph">
        {{'aboutTestnetScams.desc1' | translate}}
    </p>

    <p class="descParagraph" [innerHTML]="'aboutTestnetScams.desc2' | translate">
        
    </p>
    
    <br>

    <h2>{{'aboutTestnetScams.header2' | translate}}</h2>
    <p class="descParagraph">
        {{'aboutTestnetScams.desc3' | translate}}
    </p>

    <br>

    <h2>{{'aboutTestnetScams.howToAvoidHeader' | translate}}</h2>

    <p class="descParagraph">
        {{'aboutTestnetScams.howToAvoidDesc' | translate}}
    </p>

    <ul class="descList">
        <li [innerHTML]=" 'aboutTestnetScams.descListReal' | translate "></li>
        <li [innerHTML]=" 'aboutTestnetScams.descListScam' | translate "></li>
    </ul>

    <div style="margin-top: 75px"></div>

</div>

