<div class="container">
    <h1>About Testnet & Testnet Scams</h1>

    <p class="descParagraph">
        The Bitcoin Testnet is an alternative Bitcoin blockchain
        functionally identical to the original. It is intended for
        developer use, so that blockchain developers can test new updates
        without worrying about losing actual Bitcoins or accidentally breaking
        the main blockchain.
    </p>

    <p class="descParagraph">
        Due to this, testnet wallets and coins alike possess no monetary value,
        and are <span style="text-decoration: underline">NEVER</span> meant to be used for 
        real-life payments or purchases.
    </p>

    <br>

    <h2>How testnet scams work</h2>
    <p class="descParagraph">
        The primary way a testnet scam gets executed is by someone convincing
        someone else to make a Bitcoin wallet to receive a payment, but
        instead tricking them into making a testnet wallet and sending
        worthless testnet coins and not actual Bitcoin.
    </p>

    <h2>How to avoid testnet scams</h2>
    <p class="descParagraph">
        The easiest way to tell if you are getting scammed is by looking at the 
        address prefix.
    </p>

    <ul class="descList">
        <li>A <span class="text-lime">real Bitcoin address</span> should always start with 1, 3, or bc1q/bc1p</li>
        <li>A <span class="text-red">worthless testnet address</span> will be prefixed with m, n, 2, or tb1q/tb1p.
            If you have been asked to create a wallet that starts with one of these,
            <span style="text-decoration: underline">you are being scammed.</span>
        </li>
    </ul>

    <div style="margin-top: 75px"></div>

</div>

