<div style="width: 100%; display: flex; flex-direction: row; justify-content: center;">
    <div style="width: 70%">
        <h1>Donate</h1>
        <p class="descParagraph">
            ElliptiKeys is a project made to educate people about the security of the Bitcoin network.
            Many people are concerned that their private key will be brute-forced, and this site is meant to
            show that this will simply never be the case. 
            <br>
            <br>
            All of the code for the site is 100%
            <a href="https://github.com/ICARUS-2/ElliptiKeys-ng" target="blank">open-source</a> and
            can be compiled and ran on any computer :)

            <br>
            <br>
            If you wish to support this site, any donation is greatly appreciated!
            <br>
            <br>
                <img src="../../assets/bitcoin-logo.png" style="width: 50px;"><i>bitcoin</i>
                <br>
                <br>
                <img src="../../assets/donate.PNG">
                <br>
                <a style="word-wrap: break-word;" target="blank" href="https://www.blockchain.com/btc/address/bc1qs7h8scm08n00emfqzdfj4whty6sk8zxlqud8en">bc1qs7h8scm08n00emfqzdfj4whty6sk8zxlqud8en</a>
        </p>

        <div style="margin-top: 100px"></div>
    </div>
</div>
