<div class="container">

  <div class="m-2"></div>

  <div *ngIf="errorCallingApi" class="alert alert-danger">Error occurred while retrieving info</div>
  <h2>Address</h2>

  <div class="mainInnerDiv">
    <qrcode [qrdata]="address" [width]="300" [errorCorrectionLevel]="'M'" class="m-5"></qrcode>
    <table class="table mobileScrollableTable">
        <tbody>
          <tr>
            <th scope="row">Address</th>
            <td>{{addressModel?.address}}</td>
          </tr>
          <tr>
            <th scope="row">Network</th>
            <td>{{isTestnet ? "Testnet" : "Mainnet"}}</td>
          </tr>
          <tr>
            <th scope="row">Format</th>
            <td>
              <h5><span class="badge" [ngClass]="{ 'bg-danger': addressModel?.getFormat() == 'legacy', 'bg-primary': addressModel?.getFormat() == 'segwit', 'bg-success': addressModel?.getFormat() == 'bech32'}">{{addressModel?.getDisplayFormat()}}</span></h5>
            </td>
          </tr>
          <tr>
            <th scope="row">Transactions</th>
            <td>{{addressModel?.transactions}}</td>
          </tr>
          <tr>
            <th scope="row">Total Received</th>
            <td>{{addressModel?.getBtcReceived()}} BTC</td>
          </tr>
          <tr>
            <th scope="row">Total Sent</th>
            <td>{{addressModel?.getBtcSent()}} BTC</td>
          </tr>
          <tr>
            <th scope="row">Balance</th>
            <td>{{addressModel?.getBtcBalance()}} BTC</td>
          </tr>
        </tbody>
      </table>
  </div>

  <h2>Transactions</h2>

  <app-explorer-transaction-list [transactions]="transactions" [isTestnet]="isTestnet"></app-explorer-transaction-list>

<div style="margin-top: 100px;"></div>