.mainInnerDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
}

a
{
    color: white;
}

a:visited
{
    color: white;
}

@media screen and (max-width: 900px)
{
    .mainInnerDiv
    {
        flex-direction: column;
    }


}