<div class="container">

  <div class="m-2"></div>

  <div *ngIf="errorCallingApi" class="alert alert-danger">Error occurred while retrieving info</div>
  <h2>Address</h2>

  <div class="mainInnerDiv">
    <qrcode [qrdata]="address" [width]="300" [errorCorrectionLevel]="'M'" class="m-5"></qrcode>
    <table class="table mobileScrollableTable">
        <tbody>
          <tr>
            <th scope="row">Address</th>
            <td>{{addressModel?.address}}</td>
          </tr>
          <tr>
            <th scope="row">Network</th>
            <td>{{isTestnet ? "Testnet" : "Mainnet"}}</td>
          </tr>
          <tr>
            <th scope="row">Format</th>
            <td>
              <h5><span class="badge" [ngClass]="{ 'bg-danger': addressModel?.getFormat() == 'legacy', 'bg-primary': addressModel?.getFormat() == 'segwit', 'bg-success': addressModel?.getFormat() == 'bech32'}">{{addressModel?.getDisplayFormat()}}</span></h5>
            </td>
          </tr>
          <tr>
            <th scope="row">Transactions</th>
            <td>{{addressModel?.transactions}}</td>
          </tr>
          <tr>
            <th scope="row">Total Received</th>
            <td>{{addressModel?.getBtcReceived()}} BTC</td>
          </tr>
          <tr>
            <th scope="row">Total Sent</th>
            <td>{{addressModel?.getBtcSent()}} BTC</td>
          </tr>
          <tr>
            <th scope="row">Balance</th>
            <td>{{addressModel?.getBtcBalance()}} BTC</td>
          </tr>
        </tbody>
      </table>
  </div>

  <h2>Transactions ({{addressModel?.transactions}})</h2>

  <div>
    <div *ngFor="let tx of transactions">
      <table class="table mobileScrollableTable">
        <tbody>
          <tr>
            <th scope="row">Amount</th>
            <td><h6><span class="alert" style="padding: 5px;" [ngClass]="{ 'alert-success text-success': tx.model.result >= 0, 'alert-danger text-danger': tx.model.result < 0 }">{{tx.model.result >= 0 ? "+" : ""}} {{satoshiService.get(tx.model.result)}} BTC</span></h6></td>
          </tr>
          
          <tr>
            <th scope="row">Hash/ID</th>
            <td>{{tx.model.hash}}</td>
          </tr>

          <tr>
            <th scope="row">Fee</th>
            <td>{{satoshiService.get(tx.model.fee)}} BTC</td>
          </tr>

          <tr>
            <th scope="row">Block No.</th>
            <td>{{tx.model.block}}</td>
          </tr>

          <tr>
            <th scope="row">Timestamp</th>
            <td>{{dateFormatter.formatUnixTime(tx.model.time)}}</td>
          </tr>

        </tbody>
      </table>

      <button *ngIf="tx.shouldDisplayButton()" (click)="tx.toggleCollapse()" class="btn btn-primary">{{tx.getButtonText()}}</button>

      <div class="row">
        <div class="col">
          <table class="table table-borderless mobileScrollableTable">
            <tr *ngFor="let i of tx.getVisibleInputs()">
              <td><a [routerLink]="getAddressExplorerLink(i.address)">{{i.address}}</a></td>
              <td>{{satoshiService.get(i.value)}} BTC <img src="../../../assets/input.webp"></td>
            </tr>
          </table>

        </div>
        
        <div class="col">
          <table class="table table-borderless mobileScrollableTable">
            <tr *ngFor="let i of tx.getVisibleOutputs()">
              <td><a [routerLink]="getAddressExplorerLink(i.address)">{{i.address}}</a></td>
              <td>{{satoshiService.get(i.value)}} BTC <img src="../../../assets/output.webp"></td>
            </tr>
          </table>
        </div>
      </div>
      <div *ngIf="tx.shouldDisplayButton() && tx.isCollapsed">+ {{tx.getHiddenTotal()}}</div>

      <div class="m-5"></div>

    </div>  
  </div>
</div>

<div style="margin-top: 100px;"></div>